/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Колір тла */
}

header {
    background-color: #343a40; /* Темний колір для контрасту */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    border-bottom: 2px solid #fff;
}

header:hover {
    background-color: #495057; /* Зміна фону при наведенні */
}

nav {
    background-color: #495057; /* Темний колір для контрасту */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #6c757d; /* Зміна фону при наведенні */
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff; /* Колір фону категорії */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для контейнера категорії */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover {
    transform: translateY(-5px); /* Зсув вгору на 5px при наведенні */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Збільшена тінь при наведенні */
}

.category img {
    max-width: 100%; /* Відміна переповнення зображення */
    border-radius: 5px; /* Закруглення кутів зображення */
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 2px solid #dee2e6; /* Колір рамки зображення */
}

.category img:hover {
    transform: scale(1.05); /* Збільшення зображення при наведенні */
    opacity: 0.9; /* Зменшення прозорості зображення при наведенні */
    border-color: #adb5bd; /* Зміна коліру рамки зображення при наведенні */
}

.category h2 {
    margin: 0; /* Відміна зовнішніх відступів */
    padding-bottom: 10px; /* Додатковий відступ знизу від заголовка */
    border-bottom: 1px solid #dee2e6; /* Лінія під заголовком */
}

.category p {
    margin-top: 10px; /* Відступ зверху від абзацу */
}

footer {
    background-color: #343a40; /* Темний колір для контрасту */
    color: #fff;
    padding: 20px;
    text-align: center;
}
